SCIENTIFIC_INFERENCE_BASE_URL=http://scientific-inference:80
SCIENTIFIC_INFERENCE_MODEL=cross-encoder/nli-deberta-v3-large
SCIENTIFIC_INFERENCE_REVISION=bab4bc7178836f731dcfd18c06ca9def0a137712
SCIENTIFIC_INFERENCE_MAX_TOKENS=512
